<h1>Listing categories</h1>
<%= form_tag selected_categories_path do %>
  
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= check_box_tag "category_ids[]", category.id, false, {:id => "category_ids_#{category.id}" } -%></td>
    <td><%= label_tag category.name, nil, {:for =>  "category_ids_#{category.id}"} %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= submit_tag "Select Categories" %>

<% end -%>

<br />

<%= link_to 'New Category', new_category_path %>
